@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Personalização da barra de rolagem vertical */
::-webkit-scrollbar {
    width: 16px;
    /* Largura da barra de rolagem */
}

::-webkit-scrollbar-thumb {
    background: #007bff56;
    /* Cor da barra de rolagem */
    border-radius: 10px;
    /* Borda arredondada */
    border: 4px solid white;

}

::-webkit-scrollbar-thumb:hover {
    background: #02219291;
    /* Cor da barra de rolagem ao passar o mouse */
}

/* Personalização da barra de rolagem horizontal */
::-webkit-scrollbar-track-piece:end {
    background: #ffffff;
    /* Cor da trilha da barra de rolagem horizontal */
}

::-webkit-scrollbar-thumb:horizontal {
    background: #007BFF;
    /* Cor da barra de rolagem horizontal */
}

::-webkit-scrollbar-thumb:horizontal:hover {
    background: #2d48be;
    /* Cor da barra de rolagem horizontal ao passar o mouse */
}

body {
    font-family: 'Lato', sans-serif;
}

/* Remova as setas do input de número */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

.sheets {
    display: flex;
}

.character-sheet {
    max-width: 900px;
    /* Define a largura máxima */
    margin-left: auto;
    /* Move o character-sheet para o lado direito */
    padding: 20px;
    border-radius: 5px;
    flex-basis: 960px;
}

.explicação-sheet {
    width: 600px;
    /* Define a largura máxima */
    margin-right: auto;
    /* Move o explicação-sheet para o lado esquerdo */
    padding: 20px;
    border-radius: 20px;
    background-color: #007bff56;
    margin-left: 20px;
    margin-top: 40px;
}

.character-info,
.character-stats {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 100;
}

.character-info {
    width: 100%;
    margin-left: 20px;
}

.character-stats {
    gap: 20px;
    background-color: #007BFF;
    border-radius: 10px;
    padding: 10px 20px;
    color: white;

}

.character-stats div:nth-child(even) input {
    font-size: 35px;
    height: 120px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #ffffff;
    border-radius: 100%;
    width: 120px;

}

.character-stats div:nth-child(odd) input {
    font-size: 14px;
    height: 45px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #ffffff;
    border-radius: 100%;
    width: 45px;
    margin: 0 auto;
    display: flex;
    z-index: 1;
    margin-top: -75px;
    background-color: hwb(212 88% 0%);
    position: absolute;

}

.character-stats div:nth-child(even) label {
    color: white;
    margin-top: -8px;
    margin-bottom: 10px;
    font-size: 12px;
    text-align: center;

}

.character-skills,
.character-savingthrows {
    padding-left: 20px;
    margin-left: 10px;
    text-transform: uppercase;
    background-color: #000000;
    padding-right: 20px;
    border-radius: 10px;
    color: white;
    padding-bottom: 10px;
    margin-bottom: 10px;
    padding-top: 10px;

}

.character-skills label,
.character-savingthrows label {
    color: #ffffff;
    font-size: 12px;
    width: 100%;
    margin-left: 10px;
    margin-top: 8px;
    min-width: 140px
}

.character-skills input,
.character-savingthrows input {
    width: 16px;
    height: 16px;
    text-align: center;
    border: 0;
    border-radius: 100%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 1px solid #000000;
}

.skillsflex {
    display: flex;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.portrait-image {
    width: 250px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 20px;
}

/* Estilos para o botão */
.choose-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.atributoseskills {
    display: flex;
}

.fotoeinfos {
    display: flex;
}

.image-container {
    display: inline-block;
    position: relative;
}

#char-portrait {
    display: none;
}

.file-label {
    position: absolute;
    bottom: 25px;
    right: 5px;
    background-color: #fff;
    color: #007BFF;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 100%;
    margin-bottom: 5px;
    margin-right: 2px;
    font-size: 18px;

}

#portrait-preview {
    max-width: 250px;
    max-height: 400px;
    object-fit: cover;
    border: 1px solid #ccc;
}

.character-info label {
    color: #787878;
    margin-top: -5px;
    margin-bottom: 10px;
    font-size: 12px;
    width: fit-content;
}

.character-info input {
    height: 30px;
    border-radius: 10px;
}

select {
    border: 1px solid #afb9d1;
    /* Estilo da borda personalizado */
    border-radius: 10px;
    /* Borda arredondada */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 5px 10px;
    text-align: left;
    font-size: 16px;
}

select:focus {
    border: 1px solid #007BFF !important;
    /* Mude as propriedades da borda conforme desejado */
    outline: none;
    /* Opcional: para remover a borda padrão do navegador */
}

input:focus {
    border: 1px solid #007BFF !important;
    /* Mude as propriedades da borda conforme desejado */
    outline: none;
    /* Opcional: para remover a borda padrão do navegador */
}


.racaeclasse {
    display: flex;
    width: 100%;
    gap: 10px;
}

.character-info .racaeclasse label {
    margin-top: 5px;
}

/* Estilos para o tooltip personalizado */
.custom-tooltip {
    position: relative;
    cursor: pointer;
}

.custom-tooltip::before {
    content: attr(data-title);
    position: absolute;
    top: 25px;
    background-color: #fffffff6;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    text-transform: none;
    z-index: 2;
    width: 400px;
    border: 1px solid rgb(0, 0, 0);
    font-size: 16px;
    text-align: left;
    font-weight: 400;
}

.custom-tooltip:hover::before {
    opacity: 1;
}


#race-description,
#gods-description,
#class-description,
#alignment-description {
    background-color: #ffffff;
    padding: 5px 20px;
    border-radius: 10px;
    margin-top: 10px;
}

#alignment-description {
    margin-top: 0;
}


#char-level,
#char-exp {
    font-size: 22px;
    text-align: center;
    border: 1px solid #afb9d1;
}
#class-level{
    text-align: center;
    border: 1px solid #afb9d1;
}

#char-name {
    font-size: 22px;
    width: 100%;
    border: 1px solid #afb9d1;
}

.positivo {
    font-weight: bold;
    color: #0d9d2e;
}

.negativo {
    font-weight: bold;
    color: #e42964;
}

.descriçãomenor {
    font-size: 14px;
}

@media screen and (max-width: 768px) {
    .sheets {
        display: flex;
        flex-wrap: wrap;
        /* Permite que os elementos flexíveis envolvam para a próxima linha quando necessário */
    }

    .character-sheet {
        max-width: 900px;
        /* Define a largura máxima */
        margin-left: auto;
        /* Move o character-sheet para o lado direito */
        padding: 20px;
        border-radius: 5px;
        flex-basis: 960px;
    }

    .explicação-sheet {
        width: 100%;

    }
}

select,
button {
    font-family: 'Lato', sans-serif;
}

.buttonsalvar {
    background-color: #db355c;
    border: 0;
    padding: 10px 15px;
    border-radius: 20px;
    color: #fff;
    text-transform: uppercase;
    margin-right: 7px;
    margin-top: 10px;
    width: 100%;
    cursor: pointer;
}

.buttonload {
    background-color: white;
    border: 0;
    padding: 10px 15px;
    border-radius: 20px;
    color: #db355c;
    text-transform: uppercase;
    margin-right: 7px;
    margin-top: 10px;
    width: 100%;
    border: 1px solid #db355c;
    cursor: pointer;

}

.juntos {
    display: flex;
    gap: 22px;
}

.armadurainiciativavelocidade input {
    height: 65px;
    font-size: 22px;
    text-align: center;
    border: 1px solid #afb9d1;
    border-radius: 10px;

}

.armadurainiciativavelocidade label {
    color: #787878;
    margin-top: -5px;
    margin-bottom: 10px;
    font-size: 12px;
    width: fit-content;
    text-transform: uppercase;

}

.armadurainiciativavelocidade {
    margin-left: 20px;
}