@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

input:-webkit-autofill, input:-webkit-autofill:focus{
    -webkit-box-shadow: 0 0 0px 1000px white inset;
  
  }

/* Personalização da barra de rolagem vertical */
::-webkit-scrollbar {
    width: 16px;
    /* Largura da barra de rolagem */
}

::-webkit-scrollbar-thumb {
    background: #007bff56;
    /* Cor da barra de rolagem */
    border-radius: 10px;
    /* Borda arredondada */
    border: 4px solid white;

}

::-webkit-scrollbar-thumb:hover {
    background: #02219291;
    /* Cor da barra de rolagem ao passar o mouse */
}

/* Personalização da barra de rolagem horizontal */
::-webkit-scrollbar-track-piece:end {
    background: #ffffff;
    /* Cor da trilha da barra de rolagem horizontal */
}

::-webkit-scrollbar-thumb:horizontal {
    background: #007BFF;
    /* Cor da barra de rolagem horizontal */
}

::-webkit-scrollbar-thumb:horizontal:hover {
    background: #2d48be;
    /* Cor da barra de rolagem horizontal ao passar o mouse */
}

body {
    font-family: 'Lato', sans-serif;
}


/* Remova as setas do input de número */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

.sheets {
    display: flex;
}

.character-sheet {
    max-width: 900px;
    /* Define a largura máxima */
    margin-left: auto;
    /* Move o character-sheet para o lado direito */
    border-radius: 5px;
    flex-basis: 960px;
}

.explicação-sheet {
    width: 600px;
    /* Define a largura máxima */
    margin-right: auto;
    /* Move o explicação-sheet para o lado esquerdo */
    padding: 20px;
    border-radius: 20px;
    background-color: #007bff56;
    margin-left: 20px;
    margin-top: 40px;
}

.character-info,
.character-stats {
    margin-bottom: 10px;
    font-weight: 100;
    text-transform: uppercase;

}

.character-info h2,
.character-stats h2 {
    margin-bottom: 10px;
    font-weight: 600;
    text-transform: none;

}

.character-info {
    width: 100%;
    margin-left: 20px;
}

.character-stats {
    gap: 20px;
    background-color: #007BFF;
    border-radius: 10px;
    padding: 10px 20px;
    color: white;

}

.character-stats div:nth-child(even) input {
    font-size: 35px;
    height: 120px;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    border: 1px solid #007BFF;
    border-radius: 100%;
    width: 120px;

}

.character-stats div:nth-child(odd) input {
    font-size: 14px;
    height: 45px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #ffffff;
    border-radius: 100%;
    width: 45px;
    margin: 0 auto;
    display: flex;
    z-index: 1;
    margin-top: -75px;
    background-color: hwb(212 88% 0%);
    position: absolute;
}

.character-stats div:nth-child(even) label {
    color: white;
    margin-top: -20px;
    font-size: 14px;
    text-align: center;
}

.character-skills,
.character-savingthrows {
    padding-left: 20px;
    margin-left: 10px;
    background-color: #000000;
    padding-right: 20px;
    border-radius: 10px;
    color: white;
    padding-bottom: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    width: 240px;
}

.character-skills label,
.character-savingthrows label {
    color: #ffffff;
    font-size: 14px;
    width: 100%;
    margin-left: 10px;
    margin-top: 8px;
    min-width: 140px;
    text-transform: uppercase;
}

.character-skills input,
.character-savingthrows input {
    width: 16px;
    height: 16px;
    text-align: center;
    border: 0;
    border-radius: 100%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 1px solid #000000;
}

.skillsflex {
    display: flex;
}

h1 {
    font-size: 24px;
}

h2{
    font-size: 26px;


}

#race-description h2,
#gods-description h2,
#class-description h2,
#alignment-description h2 ,
#background-description h2 {
    margin-bottom: -10px;
}


h3{
    color: #2d48be;
    font-size: 22px;
    margin-bottom: 10px;
}

h4{
    color: #007BFF;
    font-size: 18px;
    margin-bottom: 10px;
}


label {
    display: block;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.portrait-image {
    width: 250px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 20px;
}

/* Estilos para o botão */
.choose-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.atributoseskills {
    display: flex;
}

.fotoeinfos {
    display: flex;
}

.image-container {
    display: inline-block;
    position: relative;
}

#char-portrait {
    display: none;
}

.file-label {
    position: absolute;
    bottom: 25px;
    right: 5px;
    background-color: #fff;
    color: #007BFF;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 100%;
    margin-bottom: 5px;
    margin-right: 2px;
    font-size: 18px;

}

#portrait-preview {
    max-width: 250px;
    max-height: 400px;
    object-fit: cover;
    border: 1px solid #ccc;
}

.character-info label {
    color: #787878;
    margin-top: 5px;
    margin-bottom: -4px;
    margin-left: 10px;
    font-size: 14px;
    position: relative; /* Adicione position: relative */
    width: fit-content;
    background-color: white;
    padding: 0 5px;
}

.character-info input {
    height: 30px;
    border-radius: 5px;
}

select {
    border: 1px solid #afb9d1;
    /* Estilo da borda personalizado */
    border-radius: 5px;
    /* Borda arredondada */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 5px 10px;
    text-align: left;
    font-size: 16px;
    width: 100%;
    height: 38px;
}

select:focus {
    border: 1px solid #007BFF !important;
    /* Mude as propriedades da borda conforme desejado */
    outline: none;
    /* Opcional: para remover a borda padrão do navegador */
}

input:focus {
    border: 1px solid #007BFF !important;
    /* Mude as propriedades da borda conforme desejado */
    outline: none;
    /* Opcional: para remover a borda padrão do navegador */
}

.racaeclasse {
    display: flex;
    width: 50%;
    gap: 5px;
    box-sizing: border-box;
    flex-direction: column;
    border-left: 1px solid #007BFF;
    padding:  0 0 0 15px;
}

.character-info .racaeclasse label {
    margin-top: 5px;
}

/* Estilos para o tooltip personalizado */
.custom-tooltip {
    position: relative;
    cursor: pointer;
}

.custom-tooltip::before {
    content: attr(data-title);
    position: absolute;
    top: 25px;
    background-color: #fffffff6;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    text-transform: none;
    z-index: 2;
    width: 400px;
    border: 1px solid rgb(0, 0, 0);
    font-size: 16px;
    text-align: left;
    font-weight: 400;
}

.custom-tooltip:hover::before {
    opacity: 1;
}


#race-description,
#gods-description,
#class-description,
#alignment-description,
#background-description {
    background-color: #ffffff;
    padding: 5px 20px;
    border-radius: 10px;
    margin-top: 10px;
}

#alignment-description {
    margin-top: 0;
}


#char-level,
#char-exp,
#char-bonus {
    font-size: 22px;
    text-align: center;
    border: 1px solid #afb9d1;
    box-sizing: border-box;
    height: 40px;
}

#class-level {
    text-align: center;
    border: 1px solid #afb9d1;
    box-sizing: border-box;
    height: 40px;
}

#char-name {
    width: 100%;
    border: 1px solid #afb9d1;
    box-sizing: border-box;
    height: 40px;
}

.positivo {
    font-weight: bold;
    color: #0d9d2e;
}

.negativo {
    font-weight: bold;
    color: #e42964;
}

.descriçãomenor {
    font-size: 14px;
}

@media screen and (max-width: 768px) {
    .sheets {
        display: flex;
        flex-wrap: wrap;
        /* Permite que os elementos flexíveis envolvam para a próxima linha quando necessário */
    }

    .character-sheet {
        max-width: 900px;
        /* Define a largura máxima */
        margin-left: auto;
        /* Move o character-sheet para o lado direito */
        padding: 20px;
        border-radius: 5px;
        flex-basis: 960px;
    }

    .explicação-sheet {
        width: 100%;

    }
}

select,
button {
    font-family: 'Lato', sans-serif;
}

.buttonsalvar {
    background-color: #db355c;
    border: 0;
    padding: 10px 15px;
    border-radius: 20px;
    color: #fff;
    text-transform: uppercase;
    margin-right: 7px;
    margin-top: 10px;
    width: 100%;
    cursor: pointer;
}

.buttonload {
    background-color: white;
    border: 0;
    padding: 10px 15px;
    border-radius: 20px;
    color: #db355c;
    text-transform: uppercase;
    margin-right: 7px;
    margin-top: 10px;
    width: 100%;
    border: 1px solid #db355c;
    cursor: pointer;

}

.juntos {
    display: block;
    gap: 10px;
    margin-right: 15px;
    width: 100%;
}

.juntoss {
    display: flex;
    gap: 10px;
}


.armadurainiciativavelocidade input {
    height: 65px;
    font-size: 22px;
    text-align: center;
    border: 1px solid #afb9d1;
    border-radius: 5px;
    box-sizing: border-box;

}

.armadurainiciativavelocidade label {
    color: #787878;
    margin-top: 5px;
    margin-bottom: -4px;
    margin-left: 10px;
    font-size: 14px;
    position: relative; /* Adicione position: relative */
    width: fit-content;
    background-color: white;
    padding: 0 5px;
    text-transform: uppercase;

}

.armadurainiciativavelocidade {
    margin-left: 20px;
}

.multiclasscontainer {
    margin-left: 20px;
}

.multiclasslevel {
    margin-left: 20px;
    border-radius: 5px;
}

.multiclasslevel input {
    border-radius: 5px;
}



.multiclasscontainer input[type="text"] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    border: 1px solid #afb9d1;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
}

#class-2nd-level,
#class-3rd-level,
#class-4th-level {
    width: 100%;
    box-sizing: border-box;
}

#class-2nd-subclass,
#class-3rd-subclass,
#class-4th-subclass {
    width: 100%;
    box-sizing: border-box;
}

.multiclasscontainer label {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    box-sizing: border-box;
}

#class-2nd,
#class-3rd,
#class-4th {
    margin: 0;
    width: 18px;
    border: 1px solid #afb9d1;
    box-sizing: border-box;
    margin-bottom: 20px;

}

#class-2nd-select section {
    width: fit-content;
}

.titulocinza {
    color: #787878;
    margin-top: -5px;
    margin-bottom: 10px;
    font-size: 12px;
    text-transform: uppercase;
    box-sizing: border-box;
}

summary {
    background-color: white;
    margin-left: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    margin-top: 10px;
    border: 1px solid #007BFF;
}

/*EDITOR DE TEXTO ----------------------------------------------------------------------------------------------*/

#container #containerHeader {
    text-align: center;
    cursor: move;
}

#container #editor1 {
    border: 0;
    height: 785px;
    width: 100%;
    margin: 0px auto 0;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
    border-radius: 0 0 10px 10px;

}

#container fieldset {
    margin: 2px auto 0px;
    width: 100%;
    height: 50px;
    background-color: #eaedf7;
    border: none;
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
}

#container button {
    width: 5ex;
    text-align: center;
    padding: 1px 3px;
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
}

#container img {
    width: 100%;
}

#container .bold {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEsAAABLCAYAAAA4TnrqAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAuIwAALiMBeKU/dgAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAJmSURBVHic7drPi05RHMfx18igGaaJzbAQShby22ZYKBb+CKyMJTsryo/IQigWUjbKnoWVpJSy8TOpIckCC0Xj1zTKGItLWcyZnmbuuY/z+L7rbO73PN/P93y65z73nHsIgiAIgiAIgiAIgiAIgiD43+lqSGc+1qB3Gr/9gfd4h5E6i/oX2YdRTNTQnuA4Fjc6gobYqLoz6jDq7/YVxzC7uaHk57D6jfq73cLCpgYzK3P+RZnz78ANzM2sg/xmNcEgLjQh1AlmwRA25RZpl1nXVa8trbYB7MbLRL4uHMlbcn7OmfzBfG2a+frxKJHzO/pmWO+UlDYNR1RTbjLmYHtO8dLMggd4nogtyylcolnwKnF9IKdoqWb1J65/yilaolkLsSERe5tTuESzjmJeInY3p3BJZvXgDPYn4k+ln2W10K5V+3pcarFvN5ZgCxZM0e/sTItqN6mX0rrbYw3MkpKmYYrP2IWfuYU6wayTeNaEUCeYdQhrmxDqBLP6cFW1NsxKu/4NX+Nmi327VcuYrdK7CmuwFxdnXFkbqXOLpgenE/km8KKGeqekpGk4ioM4n4ivxOqcBZRk1h+OYSwRG8wpXKJZH1W7pZOxPKdwiWaR/ozfnVO0VLNWJK5/ySlaolmbsSoRG84pXJpZ/biciI3jTk7xEszqUp2a2YP7WJfod1t1NKlYmtqimcC23IMp4c5qhSsyT0E6w6yHONCEUG6zPmTOfw87VRuAxZPr5N8YTmlgW6ZphvBNPSYN4wSWNjqC3zR1WrlXtZs5ndPK46rp/Ea1LgyCIAiCIAiCIAiCIAiCIAjaxi96FfJoiZEgRAAAAABJRU5ErkJggg==');
}

#container .italic {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEsAAABLCAYAAAA4TnrqAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAuIwAALiMBeKU/dgAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAGDSURBVHic7do7SgRBFEbh0z5BwUhQTMxEMDAXQ1EXIS7AHehWBBMznQ0YizsQJhBfiIGB4Rjo4BiMRnZD11BV3eL5oNJbdS/VfyUNkiRJkiRJkvTfFU0f4Ns8sAZMRqr3AnSBfqR6rTABnACDBOsZ2MjXSnoHpBnUz3oApmIddixWoRFtJ66/DKzGKtb0sN4y7NHLsEcWW6T9DK9ozyMWxT5wC3wSb0g94BxYyNhHoxaBd8qH0WnwXK10RPXNSf0w/CkFcEP5oO5o/mFqlR2qb9Vhg+dqpQ7lg/oAlho8V+sY7AEM9poM9gAGewCDvSaDPYDBXpPBHsBgD2Cw12SwBzDYazLYAxjsAQz2mgz2AAZ7TQZ7AIM9gMHOMLTPgFeqb07o6gPXwF7GPpIrgEviDals7WbrJrEV0g5qAJxm66ZEzFdnJmKtKrMZ9qgUc1hd4ClivTIXietntcnwX84Un+AxMJ6vld9S/Og1DawDc5Hq9YF74DFSPUmSJEmSJEnSyL4AJ3NtCSNV9DYAAAAASUVORK5CYII=');
}

#container .underline {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEsAAABLCAYAAAA4TnrqAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAuIwAALiMBeKU/dgAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAJhSURBVHic7drNahNRGMbxfw1WLBaiVtSioLiQrHSpWxERxAvQCxDcqjdRRBBX4qbriis3ikLxAhR3UhRcKC3FD6wgtmJ1XJwUnGTONCd5z5yZ8PzgUEjI+57zdD6SmQERERERERERkaaZAuaAd90x132taT0qMQ9kPWO+gT2i2wls0L+QTWBPg3rk7IhRFJgFdhW83gL2N6hHTqywJoZ8r249cmKFNZYUVgCFFUBhBVBYARRWAIUVQGEFUFgBFFYAhRVAYQVQWAEUVoBYYW2UvLfXqEfZNaufRj1yYoW1hrtqWeSIUQ9fnb/Ad6MeOTG3rI+e984Z9fDV+QD8MupRmUf0Xx/PcIuZHLH2JO6fUVR/YcTaXjEP8M88rx8Fro1Y+zr+3dDXt9b2UXz3JQO+ASeHrNvBHZOK6q5jdwKp3D2KF5UBb4FjgfWO426m+mretZh0KgfwbwUZ8Am4NGCty8DnklprwIzh3JO4hX+BW2MRuAK0ez7bBq4CLwaocSPuMqoxATxk+8VujVXgTffvoJ9ZINK9whSmgFcMvviQ8ZKGPgxSZhp4jG1QT+nfdcdGC7gN/GG0kDZxjxe1qp1+Gh3CjmP/j+fAqeqnnN5Z4AGwTHlAy8B94EyaaTp1OoOcwH2rn8U9e/UbWAGWgPcJ5yUiIuMuxtlwGjgNHIpQe1CrwGvgR8I5bOsC8JU4vwFDxxfgfNzlDm83YVcKqhgrFD/+PRTLa/Ad4KBhPQuHcfMyYRlWlHt1Buo6LxZJv+v1/ug2Y302bAN3gIu4Y1gq68AT4CY13rJERERERERERJx/gYhfcxk8X00AAAAASUVORK5CYII=');
}

#container .align-left {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEsAAAA1CAAAAAAsDUmHAAAAIGNIUk0AAHomAACAhAAA+gAAAIDoAAB1MAAA6mAAADqYAAAXcJy6UTwAAAACYktHRAAAqo0jMgAAAAlwSFlzAAAuIwAALiMBeKU/dgAAAAd0SU1FB+MIHAYHAD13ih8AAAIrSURBVEjHzZaxTxRBFMa/N7OH0FJqSwnChsTYnomKnJUKFOo1JrbGwpBYmwCV0X9AvMRK1IJ4OTtjYyCQ44xWtNpaa9x5z+IIt7vHbGYeV3DlJvfLm2++b76XCEb2S3DGWeJIRxBLJZboJxShAkvo94uuajBJH00ewZIj1J8bu4Y1LLPd/jLRh/VZLtnaPacTjGp7b5suyev1C5zp5CL8LGhPuASnFJ9xGXm9rNRXN0QVAZInV8Tm75FkfeWHSi+eTkueAHGaKv3Fpux7w6xDGTOcx8G3EeQx5m+WKlgiUZZgkJ9Ff9/sB9+jzN8dF/KwhOR2OzyPhrc+mmFYn8X2fXuMw8VPOu+W2HrmwmFUHhMcQjxnJMyAasEZIuAifHpZaTRbMXrduwnru0fCq5WDYL14bqHKq4LFxRh/SZW/yEU8OWQrMwR72jjmWE65DQxmHORRPRdT+S2UT10dKr1a6m2hB5vKfuTm60LXOtveTEj1GJJpLTeczefxG/BPe3u9hhTyOAWj7EeDqUI/Gtxa6Cj1yq7dgcnPJeZDq6vSi9P7pqA9SMYeqv011LXItKyhvRB0+s11QIjp7ZN7+ZjFUb19Ys8cZ9v0voejpmcr3kKhp2sU3h2yuu7tWmc/r8WckTeu1523H3dgI/JY46918ep1HiYJP6PBBa/2Fksv9yL6MZtf9vYjyXjneS+8H2cfT3i1B8nksxiLS2U/ShaxRkvlXjjaPOJMsf4DQ22vjD/V/uUAAAAASUVORK5CYII=');
    width: 25px;
}

#container .align-right {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEsAAAA1CAAAAAAsDUmHAAAAIGNIUk0AAHomAACAhAAA+gAAAIDoAAB1MAAA6mAAADqYAAAXcJy6UTwAAAACYktHRAAAqo0jMgAAAAlwSFlzAAAuIwAALiMBeKU/dgAAAAd0SU1FB+MIHAYOC3tn6N4AAAIsSURBVEjHzZexaxRBFMa/NzMXkzaltimjcQmI7QlqzFmpSQr1GsFWLCRgLSSpRP8B44GViRYhx9mJjRgi54lWabW1VtyZZ5GAM7uZZeYlRbbchY8337zf+94axrE9Bidciy3JFFhTRYvlFTJToMX069lQVBgXDyYPxMyB1O9rO8pJtNRW/8PEvti+ljUbO6dkhlFr93XXGt+vn3ClzC7Cj8B7wgVYofkOF+H7pbm9vMYiBIgfXWLt3yPx6tJ3kV9uuqj0BMgVhbC/nKr2vXJOJqVUncf/746VbbY5EjUeQ8Cy2sOB4lr059Xn5Dvl2dvjAY/BR+Kb/XQ2ldvYVj6PQcn6TX/MpV+EGWwuOB2pC3tZbBrsgSNnJJwFtZJ5IuAcYn5p7nR7OX7duQ4du0fCi6UvyX6583NNvcqYn8/pL27qL7IZ44d0I0PQR+TRCreBel3MsloAOKrOQn43lEkVlytzguneujAfXfdlwLbV/XVDomFIqrfYsR6PjK/AX9kZDUYdn0fCFJQwHxWmAh4VbswNhH6VV25B+XWxetsbivxyxV0VzlXisfvi/qplLUqpVj2H6Oib6+EKORl+WG77UlkZXt8nvIfV6Fu61PRMwyxkerxC6dnBy6vRrLX6/UrOGd3a1baN5uMn6Aw2W+5jm6N+nYYy6WdUOBP1XmPh+W5GPpazi9F8JB4fPB2l5+PMw4mo9yCefJLT7tyYj1xmrNTcuBdK2Typ/7X/ACjdr4z8YnCHAAAAAElFTkSuQmCC');
    width: 25px;
}

#container .align-center {
    background-size: contain;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAOCAYAAAAvxDzwAAAABGdBTUEAALGPC/xhBQAAADRJREFUOBFjYGBg2ArE/6mEtzIBDaImADlsCAJSwhSkFgVQGoYjIMwIpdfRdAhJUYMrHQIAWPdBdW2q70gAAAAASUVORK5CYII=');
    width: 25px;

}

#container .unorderedlist {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEsAAABLCAYAAAA4TnrqAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAuIwAALiMBeKU/dgAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAI0SURBVHic7dq7axRBGADw30UloEaICAbBQoVgwEcvKWx8gEh6sUqhf4jYaauFVtFGwUK00MrOR2ER8ZFCFBUj+ERFET2NxSgiZHbv9kJul3w/+JrZb4eZ79i527khhBBCCCGEEEIIIYQQlrpWBzkbMIIZfO0gfznGsL6HcS22H3iAt1U7aOEUfmIOH3Co5J5xzP7Jb2KcxbIu6wQOz9PZN2zJ5A/ieQ0m3GsczRVkoKBYE5mC7M/kj2FjQX9NsS93oahYnzPtnzLtnaxnTfClyk27/Fuv/sYrDGfyW7ipP4/OQsaeKsUiPYrT+Igb2FmSP4JL0qfT70l3E7/wWFqnQwghhBBCqK+y/awhHMEo7mAK7ZJ7DmA31vQ6uEU0J/2Cn8LrKh2sxVP/vxZcUVzgYxb/VWUhY1ba7Oza8UyHuRfNdfhegwn3GidyBSnaotmRad+ead+MFQX9NcXW3IWiYk1n2u9l2p9Ie9lNN1PlpvnWrMuW8JrVybfhpPSI3cYFae+nyEFpa7Zpj+RLnMabfg8khBBCCCGEyiZwF+9xDdtK8kdwEe/0/9Wlm2jjvh7+ka5y1uFWDSbea+ytUqzzmc4mM/mjNZjoQsS5XEGKtmiGMu2rM+0rC/pqklW5C0XFujpPWxvXM/mP8KKLQdVVbn6FBnBSKtCcdKa0bAEcl7Y6+v0oVY0zCs6UdnJaeRib8FA6U1pmUDrH1aR/d9rSRuezfg8khBBCCCGEEEIIIYQQ6u03kq1rwGv96WIAAAAASUVORK5CYII=');
}

#container .orderedlist {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEsAAABLCAYAAAA4TnrqAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAuIwAALiMBeKU/dgAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAJDSURBVHic7dq9TxRBGMfx7x2KQfSQzhCICRgSk9OKBgobwY6KhARLC/4CaioKqAQLGwtfao0k0BITNbGSoFEIEBrsjAQTCETepJi7gMfOvrl7Oye/TzLNZGb3mefYJfPsgIiIiIiIiIiIiMh5lws57gJQBLaAtZBzmoHbQH2MuLLyE/gG7Me9QBFYBf6U2nvgus/4HPAYODo1p5baD6A3Rp7IAV89LvjaZ84DBxacRMKuRE3WTcvFdjGPppfnDiw2iXa3cmH5gGTtlCZWOsA8ZrY5/4NY65jmbNYf+YzvpnbfV+X2GaiLniooAE+BX5hneRz7I1g2ACwDhw4sPErbBWaAtqhJEhERERGpirD1rKiuAQ+BdmAeeInZT/q5B9wvzc3KNvABeFOtGzYDK/y9jZjDf681QjbbG1ub/McchDZqCWDQMr6Bk+qGK+0QuFEZaFCJJo6ipf+Opb8NkzCX5IFOr86kLVr6lyz93zG7fZccYaomqWvCJOb0n/U7/D9c1MQ7K63/hgVgGFOW/gS8APYC5vQB/cCllGIK4wB4C7zKMAYREREREfcVgGfAJrAOjBF8rmsAWMDsDJLa5mxijis4/UV6hrOBT/iM7yHd8xRfCD6ikIkWvAPewL53fWKZk2TrqrxpGiWaqBot/Vex/7qXU4ql2veIzHa6cNZnzpDH+CRbrJN/1XILU2wrB/uR4HOrU6Tz3rKeKU2rnhVHHlOS/s3JB48grUAHcDGhGLYxB9lcq9yKiIiIiIiIiIiIOOIYaxc11Cpvh4UAAAAASUVORK5CYII=');
}

#container .strikethrough {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAQAAACROWYpAAAAAmJLR0QA/4ePzL8AAABFSURBVEjHY2AY2eAww38i4GHsmv8TCXFqxmYYPjVIzj5MUPNhXM7G5Q2ywKhm2mo+TG7ipFjzYAGjiYTs8uwwHTUPZwAAW5aYHd3noZcAAAAASUVORK5CYII=');
}

#container .color-apply {
    width: 50px;
    height: 35px;
    border: 0;
}

#container #input-font {
    width: 100px;
    height: 30px;
}

[contentEditable=true]:empty:not(:focus):before {
    content: attr(data-text);
    color: #888;
}

#container .loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
    line-height: 20px;
}

/* @keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
} */

#fontSize {
    width: 35px !important;

}



.marginesquerda{
    margin-left: 5px;
    background-color: lightblue !important;
}

/* Estilos para as guias */
.tab {
    overflow: hidden;
    display: flex; /* Torna os botões de guias flexíveis */
}

.tab button {
    background-color: #007bff56;
    float: left;
    border: 0;
    outline: none;
    cursor: pointer;
    padding: 10px 15px;
    transition: 0.3s;
    flex: 1; /* Faz os botões de guias ocuparem a largura disponível */
    text-transform: uppercase;
    font-weight: 800;
}

.tab button:first-child {
    border-radius: 5px 0 0 0;
}

.tab button:last-child {
    border-radius: 0 5px 0 0;
}


.tab button:hover {
    background-color: #007BFF;
    color: white;
    font-weight: 600;

}

/* Estilos para o conteúdo das guias */
.tabcontent {
    display: none;
    padding: 20px;
    border: 1px solid #007bff56;
    border-radius:  0 0 10px 10px;
}

/* Estilos para a guia ativa */
.active {
    display: block;
    
}

.task {
    margin: 10px 0;
    padding: 20px;
    border-radius: 10px;
}

#description, #editDescription{
    height: 150px;
    font-family: 'Lato', sans-serif;
}


#title, #description, #filterCategory, #filterStatus, #editTitle, #editDescription {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #afb9d1;
    border-radius: 5px;
    box-sizing: border-box;
}

#tab3 button{
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}   

/* CSS para estilizar tarefas completas */
.task.completed {
    border: 1px solid lightgreen;

}

/* CSS para estilizar tarefas não completas */
.task:not(.completed) {
    border: 1px solid #007BFF;
}

/* Alinhe o checkbox à esquerda do texto "Completo" */
.task input {
    width: fit-content;
}

.filtros{
    display: flex;
    gap: 10px;
}

.equipamento-container {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
}

.item-details {
    display: block;
}

.collapsed .item-details {
    display: none;
}

.toggle-button {
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 10px;
}

.container-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.containerequipamentos{
    width: 50%;
    border: 1px solid #db355c;
    min-height: 700px;
}
