.character-sheet {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
}

.character-info,
.character-stats {
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.portrait-image {
    max-height: 500px;
    width: auto;
}

        /* Estilos para os cards */
        .race-card {
    width: 200px;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
/* Estilos para os cards selecionados */
.selected {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


/* Estilos para as imagens */
.race-image {
    max-width: 100%;
    height: auto;
}

/* Estilos para o botão */
.choose-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}